<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cuentas</title>
    <link rel="stylesheet" href="css/estilos.css" type="text/css">
    <link rel="stylesheet" href="css/all.min.css" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400&family=Roboto:wght@500&family=Ubuntu:wght@300&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="/Imagenes/favicon.ico" type="image/x-icon">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="js/actualizarcn.js"></script>
    <script src="js/borrarcn.js"></script>
</head>
<body>
    <% if (login) { %>
    <header class="header">
        <div class="menu-princ contenedor">
            <a href="/logout" class="logout">Cerrar Sesión</a>
            <div class="btn-menu cont">
                <a href="#">
                    <i class="fas fa-user-circle"></i>
                </a>
            </div>
            <div class="usrn">
                <a href="/personal">
                    <p><%= name %></p>
                </a>
            </div>
        </div>
    </header>

    <section class="text">
        <div class="menuctx contenedor">
            <h2><i class="fas fa-address-book"></i>Página de Cuentas</h2>
            <p>Introduce, edita o borra los registros ya existentes</p>
        </div>
    </section>

    <section class="form">
        <div class="form0 contenedor">
            <form action="/add4" method="post">
                <div class="form1">
                    <input type="text" name="CodCuenta" placeholder="Código" class="campo" required>
                </div>
                <div class="form1">
                    <input type="text" name="DocCli" placeholder="Documento" class="campo" required>
                </div>
                <div class="form1">
                    <select name="TipoCuenta" id="tipc">
                        <option value="">Seleccione Cuenta</option>
                        <option value="Corriente">Corriente</option>
                        <option value="Ahorros">Ahorros</option>
                    </select>
                </div>
                <div class="form1">
                    <input type="number" name="Saldo" placeholder="Saldo inicial" class="campo" required>
                </div>
                <button type="submit" class="btn-main">
                    Guardar Registro
                </button>
            </form>
        </div>
        <div class="tabla0">
            <form action="" name="frm" id="frm">
                <table class="tabla contenedor">
                    <thead>
                        <tr>
                            <th>N.o</th>
                            <th>Código</th>
                            <th>Documento</th>
                            <th>Tipo de Cuenta</th>
                            <th>Saldo</th>
                            <th>Actualizar</th>
                            <th>Borrar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% if (data) { %>
                            <% for (var i = 0; i < data.length; i++) { %>
                                <tr>
                                    <td><%= (i + 1) %></td>
                                    <td><input type="text" name="CodCuenta" value="<%= data[i].CodCuenta %>" class="cod"></td>
                                    <td><input type="text" name="DocCli" value="<%= data[i].DocCli %>" class="doc"></td>
                                    <td>
                                        <select name="TipoCuenta" class="tip">
                                            <option value="<%= data[i].TipoCuenta %>"><%= data[i].TipoCuenta %></option>
                                            <option value="Corriente">Corriente</option>
                                            <option value="Ahorros">Ahorros</option>
                                        </select>
                                   </td>
                                    <td><input type="number" name="Saldo" value="<%= data[i].Saldo %>" class="sal"></td>
                                    <td><input type="submit" name="btnact" value="Actualizar" class="btnact" id="btnact"></td>
                                    <td><input type="submit" name="btneli" value="Borrar" class="btneli" id="btneli"></td>
                                </tr>
                            <% } %>
                        <% } %>
                    </tbody>
                </table>
            </form>
        </div>
    </section>

    <div class="cont-menu">
        <nav>
            <p><i class="fas fa-university"></i></p>
            <% if (loginad) { %>
                <a href="/usuarios">Usuarios</a>
            <% } %>
            <a href="/clientes">Clientes</a>
            <a href="/lineas">Líneas de Crédito</a>
            <a href="/creditos">Créditos</a>
            <a href="/cuentas">Cuentas</a>
            <a href="/operacionesemp">Operaciones</a>
            <% if (loginad) { %>
                <div class="copy2">
                    <p>Oceanic Bank</p>
                    <p>Copyright 2021</p>
                </div>
            <% } else { %>
                <div class="copy">
                    <p>Oceanic Bank</p>
                    <p>Copyright 2021</p>
                </div>
            <% } %>
        </nav>
    </div>
    <% } else { %>
        <h1><strong><%= name %></strong></h1>
        <a href="login" class="a-login">Ir al Login</a>
    <% } %>
</body>
</html>